button {
	transition: background-color 0.2s ease-out;
	border: none;
	border-radius: 0.2rem;
	padding: calc(2 * var(--spacing-unit));
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	font-size: var(--text-sm);
	line-height: var(--text-sm-lh);
}
.button--primary {
	color: white;
	background-color: var(--teal-600);
}
.button--primary:hover {
	background-color: var(--teal-700);
}
.button--primary:disabled {
	color: var(--gray-300);
	background-color: var(--gray-500);
	cursor: not-allowed;
}
.button--block {
	width: 100%;
}
.button--secondary {
	color: black;
	background-color: var(--gray-300);
}
.button--secondary:hover {
	background-color: var(--gray-400);
}