[type=text],[type="password"] {
  border-radius: var(--rounded-md)!important;
  border: solid 1px var(--gray-400);
  margin-top: var(--spacing-unit);
}

[type=radio] {
  cursor: pointer;
  color: var(--teal-600);
  border: solid 1px var(--gray-300);
  border-radius: var(--rounded-full);
}

[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}