on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - 'squid/back/src/**'
jobs:
  build:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./squid/back
    steps:
    - name: Checkout master
      uses: actions/checkout@main
